# Base de données PostgreSQL / PostGIS
DB_USER=convoyflux
DB_PASSWORD=convoyflux

# Broker MQTT (Mosquitto)
# MQTT_BROKER_HOST et PORT sont résolus automatiquement dans docker-compose

# Simulateur
VEHICLE_COUNT=50
REGION=ile-de-france

# Frontend (build-time Vite)
VITE_API_BASE_URL=http://localhost:8080
VITE_MAP_STYLE_LIGHT=https://tiles.openfreemap.org/styles/liberty
VITE_MAP_STYLE_DARK=https://tiles.openfreemap.org/styles/dark
